/*
Project: Cast Iron
Author: Blair Morrow
*/

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Holtwood+One+SC|Roboto+Mono:300&display=swap');

body {
	
	margin: 0;
	
}

span {
	
	color: #BD2026;
	
}

.header, .footer {
	
	background-color: #000;
	height: 80px;
	padding: 1px 2%;
	
}

.headerLink {
	
	color: #FFF;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8em;
	line-height: 90px;
	margin-left: 30px;
	text-decoration: none;
	
}

.headerLink:hover {
	
	-webkit-animation-name: linkAnimation;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	
	animation-name: linkAnimation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	
}

.sticky {
	
	position: fixed;
	top: 0;
	width: 100%;
  
}

.sticky + .content {
	
	padding-top: 80px;
	
}

.contentImage {
	
	display: block;
	height: auto;
	width: 100%;
	
}

.contentHeader {
	
	color: #BD2026;
	
}

.contentText {
	
	font-family: 'Bitter', serif;
	font-size: 1.2em;
	font-weight: 300;
	padding-left: 30%;
	padding-right: 30%;
	text-align: justify;
	
}

.footerHeader {
	
	color: #FFF;
	
}

.contentHeader, .footerHeader {
	
	font-family: 'Bitter', serif;
	font-size: 1.6em;
	font-weight: 700;
	text-align: center;
	
}

#castIron {
	
	font-family: 'Holtwood One SC', serif;
	font-size: 1.8em;
	letter-spacing: 0.03em;
	
}

#castIron a {
	
	color: #FFF;
	text-decoration: none;
	
}

#navigation {
	
	position: fixed;
	right: 2%;
	top: 0;
	
}

#about {
	
	padding: 0;
	
}

#benZhou {
	
	border-radius: 3px;
	display: block;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 200px;
	
}

@-webkit-keyframes linkAnimation {
	
	0% {
		
		color: #FFF;
		
	}
	
	25% {
		
		color: #DCDCDC;
		
	}
	
	100% {
		
		color: #DCDCDC;
		
	}
	
}

@keyframes linkAnimation {
	
	0% {
		
		color: #FFF;
		
	}
	
	25% {
		
		color: #DCDCDC;
		
	}
	
	100% {
		
		color: #DCDCDC;
		
	}
	
}
