/*
Project: Cast Iron
Author: Blair Morrow
*/

/*Import the font we will use for the links and content text from the Google Fonts API*/
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

/*Body style*/
body {
    margin: 0;
}

/*Header style*/
.header {
    background-color: #000;
    height: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 100px;
}

.header img {
    margin-left: 3%;
}

/*Navigation style*/
.navigation {
    height: 100px;
    position: fixed;
    right: 3%;
    top: 0;
}

.navigationLink {
    -webkit-animation-name: linkAnimationOut;
    -webkit-animation-duration: 1s;
    animation-name: linkAnimationOut;
    animation-duration: 1s;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: 'Manjari', sans-serif;
    font-size: 1.4em;
    line-height: 100px;
    margin-left: 25px;
    padding: 10px;
    text-decoration: none;
}

.navigationLink:hover {
    -webkit-animation-name: linkAnimationIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: linkAnimationIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*Content style*/
.content img {
    display: block;
    width: 100%;
}

.content {
    text-align: center;
}

.innerContent {
    display: inline-block;
    height: auto;
    text-align: center;
    width: 60%;
}

.contentLineTop {
    margin-bottom: 40px;
    margin-top: 80px;
}

.contentHeader {
    color: #BD2026;
    font-family: 'Manjari', sans-serif;
    font-size: 1.6em;
}

.contentText {
    color: #000;
    font-family: 'Manjari', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
}

.mapouter {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    display: inline-block;
    height: 400px;
    text-align: right;
    width: 800px;
}

.gmap_canvas {
    background: none !important;
    height: 400px;
    overflow: hidden;
    width: 800px;
}

.contentLineBottom {
    margin-bottom: 80px;
    margin-top: 40px;
}

.contentSubtext {
    color: #000;
    font-family: 'Manjari', sans-serif;
    font-size: 0.9em;
    margin-top: 30px;
    padding-left: 25%;
    padding-right: 25%;
}

/*Footer style*/
.footer {
    background-color: #000;
    height: 60px;
    text-align: center;
}

.footer img {
    height: 55px;
    width: auto;
}

/*Link animation compatibility across web browsers*/
@-webkit-keyframes linkAnimationIn {
    0% {
        color: #FFF;
    }
    100% {
        background-color: #FFF;
        color: #000;
    }
}

@-webkit-keyframes linkAnimationOut {
    0% {
        background-color: #FFF;
        color: #000;
    }

    100% {
        color: #FFF;
    }
}

/*Link animation*/
@keyframes linkAnimationIn {
    0% {
        color: #FFF;
    }

    100% {
        background-color: #FFF;
        color: #000;
    }
}

@keyframes linkAnimationOut {
    0% {
        background-color: #FFF;
        color: #000;
    }

    100% {
        color: #FFF;
    }
}
