/*
Project: Cast Iron
Author: Blair Morrow
*/

@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Roboto+Mono:300&display=swap');

body {
	
	margin: 0;
	
}

header {
	
	background-color: #000;
	height: 80px;
	position: relative;
	
}

.headerLink, #headerLinkRight {
	
	color: #FFF;
	float: right;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8em;
	line-height: 80px;
	text-decoration: none;
	
}

.headerLink {
	
	margin-right: 2%;
	
}

#castIron {
	
	font-family: 'Holtwood One SC', serif;
	font-size: 1.8em;
	letter-spacing: 0.03em;
	margin-left: 5%;
	margin-top: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

#castIron a {
	
	color: #FFF;
	text-decoration: none;
	
}

#headerLinkRight {
	
	margin-right: 5%;
	
}
